* {
    touch-action: manipulation;
    box-sizing: border-box;
    

  }

body{
    background: black;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    touch-action: manipulation;

}





.main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    height: 98vh;
    height: calc(var(--vh, 1vh)*98);


}

.imagesTemp {
    width: 100vw;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    pointer-events: none;
}

.imageLeft{
    height: 60px;
}

.imageButton{
    height: 32px;
    margin: 5px;
}

.octaveButton{
    margin-left: auto;
    pointer-events: all;

}

.scaleButton{
    pointer-events: all;
    /* transition: all 0.5s ease; */
}

.closeButton{
    transition: opacity 0.5s ease;
}

p{
    transition: all 0.5s ease;
    pointer-events: none;
    color:white;
    opacity: .3;
    font-size: 12px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 2px;
    right: 10px;
}

.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

sub{
    position: relative;
    font-size: 8px;
    left:1px;

}

.pads-container{
    /* width: 95vw; */
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 2px;

}


.pad{
    height: calc(20vw - 12px);   
    width: 20vw;
    touch-action: manipulation;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:6px;
    flex: 1 0  calc(20% - 12px);
    border-radius: 8px;
    opacity: 0.8;
    transition: all 0.1s ease-out;
    background: #181D20;
    position: relative;
}

.padcolor0{
    border: 1.5px solid white;
    box-shadow: 0 0 0 4px  #181D20;

}


.padcolor1{
    border: 1.5px solid #eb0753;
    box-shadow: 0 0 0 4px  #181D20;
    
}

  
.padcolor2{
    border: 1.5px solid #f15187;
        box-shadow: 0 0 0 4px  #181D20;

}
  
.padcolor3{
    border: 1.5px solid #f583a9;
        box-shadow: 0 0 0 4px  #181D20;

}
  
.padcolor4{
    border: 1.5px solid #fbc0ba;
        box-shadow: 0 0 0 4px  #181D20;

}
  
.padcolor5{ 
    border: 1.5px solid #f56b5d;
        box-shadow: 0 0 0 4px  #181D20;

}

.padcolor6{
    border: 1.5px solid #f12c18;
        box-shadow: 0 0 0 4px  #181D20;

}

/* .padcolor1{
    border: 2px solid #29DBE5;
}
  
.padcolor2{
    border: 2px solid #2F93F6;
}
  
.padcolor3{
    border: 2px solid #B400FF;
}
  
.padcolor4{
    border: 2px solid  #FCC931;
}
  
.padcolor5{ 
    border: 2px solid #FF690D;
}

.padcolor6{
    border: 2px solid #F12C18;
} */

.chr{
    background: #D3DCE2;
}

.chr.padcolor0{
    background: white;
    color: black;
}


.pointer{
    box-sizing: border-box;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: rgba(177,187,197,.5);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition:visibility 0.5s, opacity 0.5s ease;
}

h4, h3{
    touch-action: manipulation;
}

h3{
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin: .2rem;
    font-size: .9rem;
    color: white;

}

h3.active{
    color: #282C32;
    background-color: white;
}

.scale h3{
    text-align: left;
    align-self: start;
}
.scale h4{
    text-align: left;
    align-self: start;
    margin-left: 1.2rem;
}



h4{
    /* opacity: .7; */
    color: #7E8999;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.scale-selector-container{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    touch-action: manipulation;

}


.scale-selector{
    flex: 1;
    transform: translate3d(100%, 0, 0);
    float: right;
    top:0;
    left:0;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease;
    padding: .5rem 0;
    /* align-items: center; */
    justify-content: center;
    pointer-events: all;
    flex-flow: row wrap;
    touch-action: manipulation;


}

.scale-selector.active{
    pointer-events: all;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    touch-action: manipulation;

}


.key, .scale{
    align-items: center;
    display: flex;
    flex-direction: column;
    touch-action: manipulation;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.scale{
    flex:3;
    /* margin-right: 2rem; */
}
.key{
    flex:1;
    padding-left: 2rem;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
}

.key::-webkit-scrollbar {
    display: none;
  }
  
/* .c-key{
    touch-action: auto;
 */



/* .close-scale{
    position: fixed;
    height: 32px;
    margin: 5px;
    top:30px;
    right:30px;
} */


