body{
    background: black;
    font-family: 'Poppins', sans-serif;
    
}



.pads-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);

}

.imagesTemp {
    width: 100vw;
    
}

p{
    pointer-events: none;
}

.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

sub{
    position: relative;
}

.pad{
    height: 20vw;   
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;
    margin:2px;
    flex: 1 0  calc(20% - 4px);
    border-radius: 10px;
    opacity: .8;
    transition: all 0.1s ease-out;
}

.c{
    background: #F1F4F6;
}

.d{
    background: #29DBE5;
}
  
.e{
    background: #2F93F6;
}
  
.f{
    background: #B400FF;
}
  
.g{
    background: #FCC931;
}
  
.a{
    background: #FF690D;
}

.b{
    background: #F12C18;
}

.pointer{
    
    box-sizing: border-box;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border:2px solid rgba(0,0,0,0.5);
    background:rgba(255, 255, 255, .8);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition:visibility 0.5s, opacity 0.5s ease;
}
